.arrivals {
  padding: 48px 0;
  overflow: hidden;

  @include mobile {
    padding: 32px 0;
    padding-left: 32px;
  }
}
.container-right {
  width: 1690px;
  overflow: hidden !important;
}

.dots {
  position: relative;
}
.arrivals_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;

  @include mobile {
    margin-bottom: 40px;
  }
}
.arrivals-slider {
  display: flex;
  gap: 24px;
}
