.btn_fav {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 8px 16px -8px rgba(15, 15, 15, 0.12);
  transition: all 0.2s ease-in;

  svg {
    fill: #6c7275;
  }
  &:hover {
    background-color: #d41c1c;
    svg {
      fill: #ffffff;
    }
  }
}
