.promotion {
  position: relative;
  background-color: rgba(255, 171, 0, 0.4);

  @include tablet {
    padding-right: 32px;
    justify-content: center;
  }
  @include mobile {
    width: 100%;
    padding-right: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-image: image-set(
      url("./img/promotion/Paste.jpg") 1x,
      url("./img/promotion/Paste\ @2x.jpg") 2x
    );
    background-size: cover;
    @include mobile {
      position: sticky;
      height: 367px;
      width: 100%;
    }
  }
}

.container-promotion {
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.promotion_content {
  padding: 100px 0;
  width: 50%;
  float: right;
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include tablet {
    // padding-left: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 18px;
  }
  @include mobile {
    float: none;
    width: 100%;
    padding: 28.5px 0;
    display: flex;
    flex-direction: column;
  }
}

.protion_text {
  display: grid;
  gap: 16px;
}
.promotion_tagline {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #377dff;
}
.promption_title {
  font-family: var(--font-accent);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #121212;

  @include tablet {
    font-size: 36px;
  }
  @include mobile {
    font-size: 34px;
  }
}
.promotion_desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #121212;

  @include tablet {
    font-size: 18px;
  }
  @include mobile {
    font-size: 14px;
  }
}
.promotion_expires {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #141718;
}
.promotion_timer {
  display: grid;
  gap: 16px;
}
.promotion_btn {
  width: 154px;
  border-radius: 8px;

  & a {
    color: #fff;
  }
}
